gadfly.egg-info
__pycache__
*.pyc
*.log
.vscode
node_modules
.jekyll-cache
.ipynb_checkpoints
.sass-cache
adatest.egg-info
dist/gadfly-*
local_scratch*
wandb
local_data
/notebooks/TDD/data
/notebooks/PPT
/build
/dist
/test_trainer/runs