gadfly.egg-info
__pycache__
*.pyc
node_modules
.jekyll-cache
.ipynb_checkpoints
.sass-cache
adatest.egg-info
dist/gadfly-*
local_scratch*
wandb
local_data
notebooks/TDD/data
env/
build/
adatest/resources/main.js

