# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build Python Wheel

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Update pip and setuptools
      run: |
        pip install --upgrade pip
        pip install --upgrade setuptools wheel
    - name: Check node version
      run: npm --version
    - name: Run build_wheel script
      run: python development/scripts/build_wheel.py
    - name: Save wheel artifact
      uses: actions/upload-artifact@v3
      with:
        name: wheel-${{ matrix.os }}-${{ matrix.python-version }}
        path: dist/*

  test:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Remove AdaTest source directory
      uses: JesseTG/rm@v1.0.3
      with:
        path: adatest
    - name: Download wheel artifact
      uses: actions/download-artifact@v3
      with:
        name: wheel-${{ matrix.os }}-${{ matrix.python-version }}
    - name: Install wheel from file
      run: python development/scripts/install_from_wheel.py --wheel-dir=.
    - name: Install testing requirements
      run: |
        pip install flake8 pytest pytest-mock
        pip install transformers openai
    - name: Test with pytest
      run: |
        python -m pytest tests/